<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--
    스프링 부트에서 기본적으로 src/main/resources/static/* 위치의 정적 파일은
    http://domain/* 으로 요청 가능하도록 기본설정 되어 있음
-->
<script src="/js/app/index.js"></script>
</body>
</html>
